@charset "utf-8";
@import url('bootstrap.css');

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}

/* COMMON */
html {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  padding: 0;
  margin: 0
}
body {
  font-family: "Noto Sans KR", sans-serif;
  padding: 0;
  margin: 0;
  color: #777777;
  font-weight: 400;
  word-spacing: -0.2px;
  word-break: keep-all
}
ul, ol, dl {
  list-style: none;
  margin: 0;
  padding: 0; 
}

ul{font-size: 0}
li{font-size: 16px; vertical-align: top}
h1, h2, h3, h4, h5, h6, p {}
ul, ol, dl, li {
  list-style: none;
  margin-bottom: 0;
}
label {
  font-weight: normal;
}
p {
  margin: 0;
}
address {
  margin: 0;
}
div {
  display: block;
  position: relative
}
/* LINK */
a {
  color: inherit
}
a, a:hover, a:focus, a:visited {
  color: inherit;
  text-decoration: none;
  outline: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
a:hover {
  color: inherit
}
/* FORMS */
.form-control {}
select {
  background: #fff url(/img/arr_partner.png) no-repeat 95% 50%;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 30px;
  background-size: 17px auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: normal;
  position: relative;
}
select::-ms-expand {
  display: none;
}
input.calendar {
  background: #fff url(../img/ico_cal.png) no-repeat 100% 50%;
}
.radio label, .checkbox label, .radio-inline, .checkbox-inline {
  padding-left: 23px;
}
.radio-inline label, .checkbox-inline label {
  padding-left: 0;
}
.checkbox {}
.checkbox label:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0;
  top: 50%;
  margin-top: -9px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
}
.checkbox label:after {
  display: inline-block;
  position: absolute;
  width: 18px;
  height: 18px;
  text-align: center;
  left: 0;
  top: 50%;
  margin-top: -9px;
  line-height: 1.3;
  color: #555;
  font-family: 'LineAwesome';
  font-weight: bold
}
.checkbox input[type="checkbox"] {
  opacity: 0;
}
.checkbox input[type="checkbox"]:checked + label:after {
  content: "\f17b";
}
.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label:before {
  background-color: #eeeeee;
  cursor: not-allowed;
}
.checkbox.checkbox-circle label:before {
  border-radius: 50%;
  width: 18px;
  height: 1.4em;
}
.checkbox.checkbox-toggle label {
  padding-left: 3.5em;
}
.checkbox.checkbox-toggle label:before {
  content: "";
  width: 3em;
  height: 18px;
  border-radius: 20px;
  border: 1px solid #ddd;
  background: none;
  z-index: 1
}
.checkbox.checkbox-toggle label:after {
  content: "";
  width: 18px;
  height: 18px;
  left: 0;
  top: 0;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #bbb;
  transition: left 0.3s;
}
.checkbox.checkbox-toggle input[type="checkbox"]:checked + label:before {}
.checkbox.checkbox-toggle input[type="checkbox"]:checked + label:after {
  content: "";
  left: 18px;
  background: #555;
  transition: left 0.3s;
}
.checkbox.checkbox-xs label {
  font-size: 0.9em
}
.checkbox.checkbox-lg label {
  font-size: 1.23999em
}
.radio {}
.radio label:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0;
  top: 50%;
  margin-top: -9px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
}
.radio label:after {
  display: inline-block;
  position: absolute;
  width: 18px;
  height: 18px;
  text-align: center;
  left: 0;
  top: 50%;
  margin-top: -9px;
  line-height: 1.3;
  color: #555;
  font-family: 'LineAwesome';
  font-weight: bold
}
.radio input[type="radio"] {
  opacity: 0;
}
.radio input[type="radio"]:checked + label:after {
  content: "\f17b";
}
.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.radio input[type="radio"]:disabled + label:before {
  cursor: not-allowed;
}
.radio.radio-xs label {
  font-size: 0.9em
}
.radio.radio-lg label {
  font-size: 1.2em
}
.file-upload {
  position: relative;
}
.file-upload input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.file-upload label {
  display: inline-block;
  margin-right: 10px;
}
.file-upload .upload-name {
  display: inline-block;
  max-width: 55%;
}
.form-group {
  overflow: hidden;
  margin-left: -2px;
  margin-right: -2px;
  margin-bottom: 0;
}
.form-group + .form-group {
  margin-top: 5px;
}
.form-group .bar {
  float: left;
  line-height: 32px;
  vertical-align: middle;
  padding: 0 2px;
}
.form-group > div {
  padding: 0 2px;
}
.form-group > .btn {
  margin: 0 2px;
}
.form-group .bar {
  width: 5%;
  text-align: center;
}
.form-group select {
  width: 100%;
}
.form-group:last-child {
  margin-bottom: 0;
}
.form-group .help-block {
  margin: 0;
}
/* BUTTON */
.btn.icon {
  padding: 0;
  background: none;
}
.btn.icon img {
  margin: 0;
}
.btn-link, .btn-link:hover, .btn-link:active, .btn-link:focus {
  color: inherit;
  text-decoration: none;
}
.btn.line.white {
  background: none !important;
  border-color: #fff;
  color: #fff
}
.btn.line.red {
  border-color: #e60b00;
  color: #e60b00
}
.btn.line.green {
  border-color: #2ab6ae;
  color: #2ab6ae
}
.btn.line.blue {
  color: #00abcd;
}
.btn.line.darkblue {
  color: #006ec7
}
.btn.line.gray {
  border-color: #ccc;
  color: #333
}
.btn.line.lightgray {
  color: #666
}
.btn.line.brown {
  border-color: #3d2921;
  color: #3d2921
}
.btn.line {
  background: none !important;
  border-color: #444;
  color: #333;
}
.btn.red {
  background: #e60b00;
  border-color: #e60b00;
  color: #fff;
}
.btn.green {
  background: #73a800;
  border-color: #73a800;
  color: #fff
}
.btn.blue {
  background: #00abcd;
  border-color: #00abcd;
  color: #fff
}
.btn.blue.tx {
  font-size: 11px;
}
.btn.darkblue {
  background: #006ec7;
  border-color: #006ec7;
  color: #fff
}
.btn.lightblue {
  background: #00a1c8;
  border-color: #00a1c8;
  color: #fff;
}
.btn.lightgray {
  background: #e8e8e8;
  border-color: #e8e8e8;
  color: #666
}
.btn.dark {
  background: #24334a;
  border-color: #24334a;
  color: #fff;
}
.btn.gray {
  background: #9b9b9b;
  border-color: #888;
  color: #fff;
}
.btn.brown {
  background: #3d2921;
  border-color: #3d2921;
  color: #fff
}
.btn.black {
  background: #222;
  border-color: #222;
  color: #fff
}
.btn-box {
  margin: 40px 0 0;
  text-align: center
}
.btn-box .btn {
  margin: 0 3px;
}
.btn-box.line {
  border-top: 1px solid #ddd;
  padding-top: 5%;
}
.btn-box[class*=col] {
  overflow: hidden;
  margin-left: -1%;
  margin-right: -1%;
}
.btn-box[class*=col] .btn {
  float: left;
}
.btn-box.col-2 .btn {
  width: 48%;
  margin: 0 1%;
}
.btn-box.col-3 .btn {
  width: 31.3333%;
  margin: 0 1%;
}
.btn-group > .btn-group + .btn-group .btn {
  border-left: 0;
}
.pointer {
  cursor: pointer;
}
/* TABLE */
.table {
  margin: 0;
  border: 0;
  border-spacing: 0;
  padding: 0;
  border-collapse: collapse;
}
.table tr > th {
  font-weight: 600;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 12px 15px;
  border-color: #e5e5e5
}
.table thead + tbody {
  border-top: 2px solid #00abcd;
}
.table.center th, table.center td {
  text-align: center;
}
.table.center td.left, .table.center td.title {
  text-align: left;
}
.table.table-form th {
  border-top: 1px solid #ddd;
  line-height: 30px;
  vertical-align: top;
}
.table.table-form td {
  padding-top: 12px;
  border-top: 1px solid #ddd;
}
.table.top th, table.top td {
  vertical-align: top;
}
/* TAB */
.tab-nav {
  position: relative;
  overflow: hidden;
  height: 40px;
  margin-bottom: 30px;
  text-align: center;
}
.tab-nav:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 2px solid #00abcd;
}
.tab-nav ul {
  font-size: 0;
}
.tab-nav li {
  display: inline-block;
  min-width: 15%;
  font-size: 15px;
}
.tab-nav li a {
  display: block;
  line-height: 38px;
  border: 1px solid #ddd;
  background: #f8f8f8;
  color: #666;
  text-align: center;
}
.tab-nav li + li a {
  margin-left: -1px;
}
.tab-nav li.active a {
  border-color: #00abcd;
  border-width: 2px;
  border-bottom-color: #fff;
  color: #00abcd;
  background: #fff;
  position: relative;
  z-index: 1;
  margin-left: 0;
}
.tab-nav.inner:after {
  display: none;
}
.tab-nav.inner li {
  min-width: inherit;
}
.tab-nav.inner li a {
  border: 0;
  background: none;
  line-height: normal;
  padding: 0 10px;
}
.tab-nav.inner li + li a {
  border-left: 1px solid #eee;
  margin-left: 0;
}
.tab-nav.inner li.active a {
  border-color: #eee;
  border-width: 1px;
  background: none;
  color: #00abcd
}
.tab-contents {}
.tab-contents .tab-item {
  display: none;
  padding: 0px;
}
.tab-contents .tab-item.active {
  display: block
}
/* LIST */
ul.bullet li {
  padding-left: 10px;
  background: url(../img/bul_bluex4.png) no-repeat 0 8px;
  line-height: 1.6
}
ul.bullet.type2 li {
  background: url(../img/bul_brown4.png) no-repeat 0 8px;
}
ul.bullet li + li {
  margin-top: 5px;
}
ul.bar li {
  padding-left: 10px;
}
ul.bar li:before {
  content: "-";
  margin-left: -10px;
  display: inline-block;
  width: 10px;
}
.list-table {
  display: table;
  width: 100%;
}
.list-table .cell {
  display: table-cell;
  width: 1%;
  vertical-align: middle;
}
/* TEXT STYLE */
small, .small {
  font-size: 95%
}
.text-xs {
  font-size: 80%;
}
.text-sm {
  font-size: 90%;
}
.text-lg {
  font-size: 105%;
}
.text-xlg {
  font-size: 110%;
}
.text-xxlg {
  font-size: 120%;
}
.light {
  font-weight: 300;
}
.normal {
  font-weight: 400;
}
.bold {
  font-weight: 500;
}
.bolder {
  font-weight: 700;
}
.nowrap {
  display: block;
  overflow: hidden;
  word-break: break-all;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.block {
  display: block;
}
.inline {
  display: inline-block;
  width: auto;
}
.underline {
  text-decoration: underline
}
.text-blue {
  color: #005fda
}
.text-red {
  color: #b13636
}
.text-orange {
  color: #ff7800
}
.text-black {
  color: #222
}
.text-green {
  color: #2ab6ae
}
.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.lead {
  margin: 0
}
.help-block {
  margin: 0;
}
.breadcrumb {
  margin: 0;
  color: #888;
  background: none;
  padding: 0;
}
.breadcrumb > li {
  display: inline-block
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: ">"
}
/* PAGINATION */
.pagination {
  text-align: center;
  margin: 5% auto;
  display: block;
  border-radius: 0;
  overflow: hidden;
  font-size: 0;
  clear: both
}
.pagination a {
  display: inline-block;
  vertical-align: top;
  width: 25px;
  height: 25px;
  line-height: 25px;
  margin: 0 2px;
  font-size: 12px;
}
.pagination .active {
  color: #fff;
  background: #00abcd;
  border-color: #00abcd;
  position: relative;
  z-index: 1;
}
.pagination a:hover {
  background: #f4f4f4;
}
.pagination .prev, .pagination .first, .pagination .next, .pagination .end {
  border: 1px solid #ddd;
}
/* ETC. */
.scrollable-container {
  position: relative;
}
.scrollable {
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  position: relative;
}
.scrollable.horizontal {
  overflow-y: hidden;
  overflow-x: auto;
}
.scrollable.horizontal.vertical {
  overflow: auto;
}
.scrollable.horizontal {
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  position: static;
  padding: 0;
}
.scrollable.horizontal table {
  min-width: 500px;
  width: auto
}
.slide-control {
  display: none
}
.divider {
  font-size: 0;
  height: 1px;
  background: #e0e0e0;
  margin: 20px 0;
}
#skippy {
  position: absolute;
  padding: 10px;
  display: inline-block;
  border: 2px solid #eee;
  background: #fff;
  z-index: 9999;
}
#mask {
  background: #000;
  opacity: 0.7;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
}
.browser-mask {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 9998;
}
.browser-upgrade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #f7f7f7;
  border-bottom: 2px solid #f5b63b;
  color: #000;
  font-family: sans-serif;
  margin: 0 0 1em;
  padding: 1em 0;
  text-align: center;
  z-index: 9999;
}
.modal {
  text-align: center;
  padding: 0 !important;
}
.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
/* POPUP */
.popup {
  position: fixed;
  min-width: 400px;
  background: #fff;
  display: none;
  overflow: hidden;
  z-index: 601
}
.popup .popup-header {
  width: 100%;
  background: #006ec7;
  position: relative;
  z-index: 2;
}
.popup .popup-header img {
  margin-right: 5px;
}
.popup .popup-header h1 {
  padding: 0 15px;
  line-height: 50px;
  font-size: 18px;
  color: #fff;
  margin: 0;
}
.popup .popup-header .close {
  position: absolute;
  right: 10px;
  top: 15px;
  height: 100%;
  line-height: 1;
  background: none;
  outline: 0;
  padding: 0;
  border: 0;
  font-size: 0;
  color: #fff;
  opacity: 1;
}
.popup .popup-header .close:before {
  content: "\f342";
  font: normal normal normal 20px/1 LineAwesome
}
.popup .popup-body {
  padding: 30px 20px;
  background: #fff;
}
.popup .popup-body .table {
  border-top: 1px solid #333;
}
.popup .popup-body .table th {
  font-weight: 600;
  white-space: nowrap
}
.popup .popup-footer {
  padding: 30px 0;
  background: #fbfbfb;
  text-align: center;
}
.popup .popup-footer .btn {
  min-width: 20%;
  font-weight: bold
}
.popup.popup-blue .popup-header {
  background: #00abcd;
}
.popup.popup-sm {
  min-width: 300px;
}
.popup.popup-lg {
  min-width: 600px;
}
/* BOX STYLE */
.font13 {
  font-size: 13px
}
.panel + .panel {
  margin-top: 15px;
}
.pd {
  padding: 15px;
}
.pdx2 {
  padding: 30px;
}
.pdx3 {
  padding: 45px;
}
.g-box {
  background: #f6f6f6;
}
.b-box {
  border: 1px solid #ddd;
}
.w-box {
  background: #fff;
}
.wp-100 {
  width: 100% !important;
}
.wp-95 {
  width: 95% !important;
}
.wp-90 {
  width: 90% !important;
}
.wp-80 {
  width: 80% !important;
}
.wp-70 {
  width: 70% !important;
}
.wp-60 {
  width: 60% !important;
}
.wp-55 {
  width: 55% !important;
}
.wp-50 {
  width: 50% !important;
}
.wp-45 {
  width: 45% !important;
}
.wp-40 {
  width: 40% !important;
}
.wp-35 {
  width: 35% !important;
}
.wp-30 {
  width: 30% !important;
}
.wp-25 {
  width: 25% !important;
}
.wp-20 {
  width: 20% !important;
}
.wp-10 {
  width: 10% !important;
}
.wp-5 {
  width: 5% !important;
}
.w-5 {
  width: 5% !important;
}
.m-0 {
  margin-top: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
}
.p-0 {
  padding-top: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
}
.p-15 {
  padding-top: 15px !important;
  padding-right: 15px !important;
  padding-bottom: 15px !important;
  padding-left: 15px !important;
}
.p-30 {
  padding-top: 30px !important;
  padding-right: 30px !important;
  padding-bottom: 30px !important;
  padding-left: 30px !important;
}

.fs18{font-size: 1.125em}
.fs20{font-size: 1.250em}
.fs22{font-size: 1.375em}
.fs24{font-size: 1.500em}
.fs26{font-size: 1.625em}
.fs28{font-size: 1.750em}
.fs30{font-size: 1.875em}
.fs32{font-size: 2.000em}
.fs34{font-size: 2.125em}
.fs35{font-size: 2.188em}
.fs36{font-size: 2.250em}
.fs38{font-size: 2.375em}
.fs40{font-size: 2.500em}
.fs42{font-size: 2.625em}
.fs44{font-size: 2.750em}
.fs46{font-size: 2.875em}
.fs48{font-size: 3.000em}
.fs50{font-size: 3.125em}

.mt0{margin-top: 0px !important;}
.mt10{margin-top: 10px !important;}
.mt20{margin-top: 20px !important;}
.mt30{margin-top: 30px !important;}
.mt40{margin-top: 40px !important}
.mt50{margin-top: 50px !important}
.mt60{margin-top: 60px !important}
.mt70{margin-top: 70px !important}
.mt80{margin-top: 80px !important}
.mt90{margin-top: 90px !important}
.mt100{margin-top: 100px !important}
.mt110{margin-top: 110px !important}
.mt120{margin-top: 120px !important}
.mt130{margin-top: 130px !important}
.mt140{margin-top: 140px !important}
.mt150{margin-top: 150px !important}
.mt160{margin-top: 160px !important}
.mt170{margin-top: 170px !important}
.mt180{margin-top: 180px !important}
.mt190{margin-top: 190px !important}
.mt200{margin-top: 200px !important}


.mt-30{margin-top: -30px !important;}
.mt-50{margin-top: -50px !important;}

.mb0{margin-bottom: 0 !important}
.mb30{margin-bottom: 30px !important}
.mb40{margin-bottom: 40px !important}
.mb50{margin-bottom: 50px !important}
.mb60{margin-bottom: 60px !important}
.mb70{margin-bottom: 70px !important}
.mb80{margin-bottom: 80px !important}
.mb90{margin-bottom: 90px !important}
.mb100{margin-bottom: 100px !important}
.mb110{margin-bottom: 110px !important}
.mb120{margin-bottom: 120px !important}
.mb130{margin-bottom: 130px !important}
.mb140{margin-bottom: 140px !important}
.mb150{margin-bottom: 150px !important}
.mb160{margin-bottom: 160px !important}
.mb170{margin-bottom: 170px !important}
.mb180{margin-bottom: 180px !important}
.mb190{margin-bottom: 190px !important}
.mb200{margin-bottom: 200px !important}

.mb-150{margin-bottom: -150px !important}

.ml30{margin-left: 30px !important}


.pt10{padding-top: 10px !important;}
.pt20{padding-top: 20px !important;}
.pt30{padding-top: 30px !important;}
.pt40{padding-top: 40px !important}
.pt50{padding-top: 50px !important}
.pt60{padding-top: 60px !important}
.pt70{padding-top: 70px !important}
.pt80{padding-top: 80px !important}
.pt90{padding-top: 90px !important}
.pt100{padding-top: 100px !important}
.pt110{padding-top: 110px !important}
.pt120{padding-top: 120px !important}
.pt130{padding-top: 130px !important}
.pt140{padding-top: 140px !important}
.pt150{padding-top: 150px !important}
.pt160{padding-top: 160px !important}
.pt170{padding-top: 170px !important}
.pt180{padding-top: 180px !important}
.pt190{padding-top: 190px !important}
.pt200{padding-top: 200px !important}

.pb10{padding-bottom: 10px !important}
.pb20{padding-bottom: 20px !important}
.pb30{padding-bottom: 30px !important}
.pb40{padding-bottom: 40px !important}
.pb50{padding-bottom: 50px !important}
.pb60{padding-bottom: 60px !important}
.pb70{padding-bottom: 70px !important}
.pb80{padding-bottom: 80px !important}
.pb90{padding-bottom: 90px !important}
.pb100{padding-bottom: 100px !important}
.pb110{padding-bottom: 110px !important}
.pb120{padding-bottom: 120px !important}
.pb130{padding-bottom: 130px !important}
.pb140{padding-bottom: 140px !important}
.pb150{padding-bottom: 150px !important}
.pb160{padding-bottom: 160px !important}
.pb170{padding-bottom: 170px !important}
.pb180{padding-bottom: 180px !important}
.pb190{padding-bottom: 190px !important}
.pb200{padding-bottom: 200px !important}

.fw1{font-weight: 100 !important} 
.fw3{font-weight: 300 !important}
.fw4{font-weight: 400 !important}
.fw5{font-weight: 500 !important}
.fw7{font-weight: 700 !important}
.fw9{font-weight: 900 !important}













