@charset "utf-8";
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

#menu1contents {
    height: 100vh;
}

#wrap_bg{
    background-color: black;
}

.doctorBox01{
    display: none;
}

.doctorBox02{
    position: absolute;
    top: 0px;
    background-color: white;
    padding-top: 50px;
}