/*

 * jQuery FlexSlider v2.7.2

 * https://www.woocommerce.com/flexslider/

 *

 * Copyright 2012 WooThemes

 * Free to use under the GPLv2 and later license.

 * http://www.gnu.org/licenses/gpl-2.0.html

 *

 * Contributing author: Tyler Smith (@mbmufffin)

 *

 */

/* ====================================================================================================================

 * FONT-FACE

 * ====================================================================================================================*/

@font-face {

  font-family: 'flexslider-icon';

  src: url('/css/fonts/flexslider-icon.eot');

  src: url('/css/fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('/css/fonts/flexslider-icon.woff') format('woff'), url('/css/fonts/flexslider-icon.ttf') format('truetype'), url('/css/fonts/flexslider-icon.svg#flexslider-icon') format('svg');

  font-weight: normal;

  font-style: normal;

}

/* ====================================================================================================================

 * RESETS

 * ====================================================================================================================*/

.flex-container a:hover,

.flex-slider a:hover {

  outline: none;

}

.slides,

.slides > li,

.flex-control-nav,

.flex-direction-nav {
  margin: 0;

  padding: 0;

  list-style: none;

}

.flex-pauseplay span {

  text-transform: capitalize;

}

/* ====================================================================================================================

 * BASE STYLES

 * ====================================================================================================================*/

.flexslider {
  margin: 0; width: 100%;
  padding: 0;
}
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}
.flexslider .slides img {
  margin: 0 auto;
  display: block;
}
.flexslider .slides:after {

  content: "\0020";

  display: block;

  clear: both;

  visibility: hidden;

  line-height: 0;

  height: 0;

}

html[xmlns] .flexslider .slides {

  display: block;

}

* html .flexslider .slides {

  height: 1%;

}

.no-js .flexslider .slides > li:first-child {

  display: block;

}

/* ====================================================================================================================

 * DEFAULT THEME

 * ====================================================================================================================*/

.flexslider {

  margin: 0 0 0px;

  

  border: 0px solid #fff;

  position: relative;

  zoom: 1;

  -webkit-border-radius: 4px;

  -moz-border-radius: 4px;

  border-radius: 4px;

  -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);

  -moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);

  -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);

  box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);

}

.flexslider .slides {

  zoom: 1;

}

.flexslider .slides img {

  height: auto;

  -moz-user-select: none;

}

.flex-viewport {

  max-height: 2000px;

  -webkit-transition: all 1s ease;

  -moz-transition: all 1s ease;

  -ms-transition: all 1s ease;

  -o-transition: all 1s ease;

  transition: all 1s ease;

}

.loading .flex-viewport {

  max-height: 750px;

}


#carousel{margin-top: 50px}

#carousel ul li img{cursor:pointer; width: 100%; opacity: 0.7;}

#carousel ul li img:hover{opacity: 1; border: #2977ed 5px solid;}
#carousel ul li img.flex-active{opacity: 1; border: #2977ed 5px solid;}

#carousel li {margin-right: 5px;}
#carousel img {display: block; opacity: .5; cursor: pointer;}
#carousel img:hover {opacity: 1;}
#carousel .flex-active-slide img {opacity: 1; cursor: default; border: #2977ed 5px solid;}


.carousel2 ul li{display: inline-block !important; border: red 1px solid; }

@-moz-document url-prefix() {

  .loading .flex-viewport {

    max-height: none;

  }

}


.carousel li {

  margin-right: 5px;

}

.flex-direction-nav {

  *height: 0;

}

.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 52px;
  height: 100px;
  margin: -50px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 1; font-size: 0;
  cursor: pointer;
  color: rgb(0,213, 181, 1);
  background: url("/img/main/top_next.png") left top no-repeat;

}
.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 0px;
  display: inline-block;
  content: '';
  color: rgb(0,213, 181, 1);

}
.flex-direction-nav a.flex-next:before {
  content: '';
}

.flex-direction-nav .flex-prev {
  left: 50%; margin-left: -750px;
	background: url("/img/main/top_pro.png") left top no-repeat;
}


.flex-direction-nav .flex-next {

  right: 50%; margin-right: -750px;

  text-align: right;

}

.flexslider2 .flex-direction-nav .flex-prev {
  left: 10px; margin-left: 0px; background: url("https://onedentalad.co.kr/img/01about/top_pro.png") left top no-repeat; background-size: auto 100%;

}

.flexslider2 .flex-direction-nav .flex-next {

  right: 10px; margin-right: 0px; background: url("https://onedentalad.co.kr/img/01about/top_next.png") left top no-repeat; background-size: auto 100%;

  text-align: right;

}	


.flexslider3 .flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 13px;
  height: 24px;
  margin: 0px 0 0;
  position: absolute;
  top: 90% !important;
  z-index: 10;
  overflow: hidden;
  opacity: 1; font-size: 0;
  cursor: pointer;
  color: rgb(0,213, 181, 1);
  background: url("https://onedentalad.co.kr/img/main/top_pro2.png") left top no-repeat;

}



.flexslider3 .flex-direction-nav .flex-prev { 
  left: 50% !important; margin-left: -36px !important; background: url("https://onedentalad.co.kr/img/main/top_pro2.png") left top no-repeat;;

}

.flexslider3 .flex-direction-nav .flex-next {

  right: 50%; margin-right: -36px; background: url("https://onedentalad.co.kr/img/main/top_next2.png") left top no-repeat; 

  text-align: right;

}	




.flex-direction-nav .flex-disabled {
  opacity: 0!important;
  filter: alpha(opacity=0);
  cursor: default;
  z-index: -1;
}

.flex-pauseplay a {

  display: block;

  width: 20px;

  height: 20px;

  position: absolute;

  bottom: 5px;

  left: 10px;

  opacity: 0.8;

  z-index: 10;

  overflow: hidden;

  cursor: pointer;

  color: #a3052f;

}

.flex-pauseplay a:before {

  font-family: "flexslider-icon";

  font-size: 20px;

  display: inline-block;

  content: '\f004';

}

.flex-pauseplay a:hover {

  opacity: 1;

}

.flex-pauseplay a.flex-play:before {

  content: '\f003';

}

.flex-control-nav {

  width: 100%;

  position: absolute;

  bottom: -40px;

  text-align: center;

}

.flex-control-nav li {

  margin: 0 6px;

  display: inline-block;

  zoom: 1;

  *display: inline;

}

.mainBox11 .flex-control-nav {
  width: 100%;

  position: absolute;

  bottom: -140px;

  text-align: center;
}

.flex-control-paging li a {

  margin-top: -90px;

  width: 12px;

  height: 12px;

  display: block;

  background: #fff;


  cursor: pointer;

  text-indent: -9999px;

  -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3);

  -moz-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3);

  -o-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3);

  box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3);

  -webkit-border-radius: 20px;

  -moz-border-radius: 20px;
}

.flex-control-paging li a:hover {

  background: #0158f3;


}

.flex-control-paging li a.flex-active {

  background: #0158f3;


  cursor: default;

}

.flexslider3 .flex-control-paging{display: none}

.mainBox11 .flex-control-paging li a {
  margin-top: -90px;

  width: 12px;

  height: 12px;

  display: block;

  background: gray;

  cursor: pointer;

  text-indent: -9999px;

  -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3);

  -moz-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3);

  -o-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3);

  box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3);

  -webkit-border-radius: 20px;

  -moz-border-radius: 20px;
}

.mainBox11 .flex-control-paging li a:hover {
  background: #0158f3;
}

.mainBox11 .flex-control-paging li a.flex-active {

  background: #0158f3;

  cursor: default;

}

.flex-control-thumbs {

  margin: 50px 0 0;

  position: static;

  overflow: hidden;

}

.flex-control-thumbs li {

  width: 25%;

  float: left;

  margin: 0;

}

.flex-control-thumbs img {

  width: 90%;

  height: auto;

  display: block;

  opacity: 0.7;

  cursor: pointer;

  -moz-user-select: none;

  -webkit-transition: all 1s ease;

  -moz-transition: all 1s ease;

  -ms-transition: all 1s ease;

  -o-transition: all 1s ease;

  transition: all 1s ease;

}

.flex-control-thumbs img:hover {
  border: #2977ed 5px solid;
  opacity: 1;

}

.flex-control-thumbs .flex-active {
 border: #2977ed 5px solid;
  opacity: 1;

  cursor: default;

}


@media screen and (max-width: 2000px) {

.flexslider {
	width:100%; overflow: hidden;
  margin: 0;

  padding: 0;

}

.flexslider .slides > li {

  display: none;
 text-align: center;
  -webkit-backface-visibility: hidden;

}

.flexslider .slides img {

   margin: 0 auto;

  display: block;

}

}
/* ====================================================================================================================

 * RESPONSIVE

 * ====================================================================================================================*/

@media screen and (max-width: 660px) {
.flexslider .slides img {
 width: 100%;
   margin: 0 auto;
   border-radius: 0;
  display: block;

}
	
  .flex-direction-nav .flex-prev {

    opacity: 1;

    left: 10px;

  }

  .flex-direction-nav .flex-next {

    opacity: 1;

    right: 10px;

  }
	.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 43px;
  height: 43px;
  margin: -25px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgb(0,213, 181, 1);


}
	
 	
.flex-control-paging  {

  top:20px; left:-22%; z-index: 9999;

}

.mainBox11  .flex-control-paging  {
  top:unset; left:unset; z-index: 9999;
  }
	
	
.flex-control-paging li a {

  margin-top: 0px;


}
	
	.flex-direction-nav .flex-prev {
  left: 10px; margin-left: 0px; background-size: auto 100%;

}

.flex-direction-nav .flex-next {

  right: -10px; margin-right: 0px; background-size: auto 100%;

  text-align: right;

}
	
.flexslider2 .flex-direction-nav .flex-prev {
  left: 15px; margin-left: 0px; background: url("https://onedentalad.co.kr/img/01about/top_pro.png") left top no-repeat; background-size: auto 100%;

}

.flexslider2 .flex-direction-nav .flex-next {

  right: -5px; margin-right: 0px; background: url("https://onedentalad.co.kr/img/01about/top_next.png") left top no-repeat; background-size: auto 100%;

  text-align: right;

}	
	
.flexslider3 .flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 13px;
  height: 24px;
  margin: 0px 0 0;
  position: absolute;
  top: 80% !important;
  z-index: 10;
  overflow: hidden;
  opacity: 1; font-size: 0;
  cursor: pointer;
  color: rgb(0,213, 181, 1);
  background: url("https://onedentalad.co.kr/img/main/top_pro2.png") left top no-repeat;

}	
	
	
}
	
